@import 'base.css';

#app {
    margin: 0 auto;
    font-weight: normal;
}

* {
    /* Halyard font  */
    font-family: 'Halyard Display', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html,
body {
    overscroll-behavior-y: none;
    max-width: 100%;
}
